apiVersion: v1
kind: PersistentVolume
metadata:
  name: traefik-acme-pv
  labels:
    type: local
spec:
  storageClassName: nfs-client
  capacity:
    storage: 100Mi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/traefik-acme"
