apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-kube-prometheus-stack-alertmanager
  namespace: monitoring
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: 'contact@example.com'
      smtp_auth_username: 'contact@example.com'
      smtp_auth_password: 'hwzd hzfi rvpp ihxb'
      smtp_require_tls: true
    
    inhibit_rules:
    - equal:
      - namespace
      - alertname
      source_matchers:
      - severity = critical
      target_matchers:
      - severity =~ warning|info
    - equal:
      - namespace
      - alertname
      source_matchers:
      - severity = warning
      target_matchers:
      - severity = info
    - equal:
      - namespace
      source_matchers:
      - alertname = InfoInhibitor
      target_matchers:
      - severity = info
    - target_matchers:
      - alertname = InfoInhibitor
    
    receivers:
    - name: 'null'
    - name: 'email-notifications'
      email_configs:
      - to: 'admin@example.com'
        send_resolved: true
    
    route:
      group_by:
      - namespace
      group_interval: 5m
      group_wait: 30s
      receiver: 'email-notifications'
      repeat_interval: 12h
      routes:
      - matchers:
        - alertname = "Watchdog"
        receiver: "null"
    
    templates:
    - /etc/alertmanager/config/*.tmpl 