apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-add-user
  namespace: monitoring
data:
  grafana.ini: |
    [security]
    admin_user = admin
    admin_password = changeme123
    disable_initial_admin_creation = false
    
    [auth]
    disable_login_form = false
    disable_signout_menu = false
    
    [auth.basic]
    enabled = true
    
    [users]
    allow_sign_up = true
    auto_assign_org = true
    auto_assign_org_role = Admin
    
    [auth.proxy]
    enabled = false
    
    [server]
    root_url = https://grafana.gray-beard.com
    
    [users.xalg]
    name = xalg
    password = admin123.
    email = xalg@example.com
    login = xalg
    is_admin = true 