apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-new-admin
  namespace: monitoring
data:
  grafana.ini: |
    [security]
    admin_user = grafana_admin
    admin_password = changeme123
    disable_initial_admin_creation = false
    
    [auth]
    disable_login_form = false
    disable_signout_menu = false
    
    [auth.basic]
    enabled = true
    
    [users]
    allow_sign_up = false
    auto_assign_org = true
    auto_assign_org_role = Admin 