apiVersion: v1
kind: Secret
metadata:
  name: n8n-db-secret
  namespace: n8n
type: Opaque
data:
  DB_TYPE: c3FsaXRl  # sqlite
  DB_SQLITE_PATH: L2hvbWUvbm9kZS8ubjhuL2RhdGFiYXNlLnNxbGl0ZQ==  # /home/node/.n8n/database.sqlite
  N8N_BASIC_AUTH_ACTIVE: dHJ1ZQ==  # true
  N8N_BASIC_AUTH_USER: eC5hbGdvcml0aG1AZ21haWwuY29t  # admin@example.com
  N8N_BASIC_AUTH_PASSWORD: <REDACTED_PASSWORD_B64>  # <REDACTED_PASSWORD>
  N8N_RUNNERS_ENABLED: dHJ1ZQ==  # true
  N8N_METRICS_ENABLED: dHJ1ZQ==  # true 